@model IEnumerable<ProfileService.Services.Products.ProductDto>

@{
    ViewData["Title"] = "Product List";
}

<h1 class="text-center mb-4">THAMCO STORE</h1>
<partial name="_ProductList" model="Model" />
